@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.Homepage {
  display: flex;
  flex-direction: column;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.landing-page-section {
  background-color: #011012;
  min-height: 80vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: calc(10px + 2vmin);
  color: white;
  text-align: center;
  padding-top: 10%;
}

.landing-page-container {
  max-width: 1080px; /* Limit the width of the header */
  width:100%;
  margin: 0 auto; /* Center the container horizontally */
  text-align: center;
}

.hero-subtitle {
  font-size: 16px;
  font-family: 'Inter-Regular';
}

.landing-page-container h1 {
  margin: auto;
  color: white; /* Light color text for contrast */
  font-size: 5rem; /* Adjust the font size as needed */
  padding-bottom: 20px;
  background: -webkit-linear-gradient(#eee, #0ADDF8);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.landing-page-container h1:hover{
  color: aquamarine;
  cursor: pointer;
  -webkit-text-fill-color: #0ADDF8;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.container {
  background-color: white; /* Background color of the box */
  border: 2px solid #2980b9; /* Border color and thickness */
  border-radius: 10px; /* Rounded corners */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Box shadow for depth */
  margin: 20px auto; /* Center the box horizontally with a 20px margin */
  display: flex; /* Use flexbox for centering content */
  flex-direction: row; /* Stack content vertically */
  justify-content: center; /* Center content vertically */
  align-items: center; /* Center content horizontally */
  text-align: center; /* Center text within the box */
  padding: 20px; /* Padding inside the box */
  color: #fff; /* Text color */
  font-size: 18px; /* Font size */
}

.bigcontainer {
  display: flex;
  max-width: 80%;
  background-color: grey; /* Background color of the box */
  border: 2px solid #2980b9; /* Border color and thickness */
  border-radius: 10px; /* Rounded corners */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Box shadow for depth */
  margin: 20px auto; /* Center the box horizontally with a 20px margin */
  display: block; /* Use flexbox for centering content */
  flex-direction: row; /* Stack content vertically */
  justify-content: center; /* Center content vertically */
  align-items: center; /* Center content horizontally */
  text-align: center; /* Center text within the box */
  padding: 20px; /* Padding inside the box */
  color: black; /* Text color */
  font-size: 18px; /* Font size */
  position: relative;
}

.bigcontainer2 {
  border-color: #00B4D8;
  background-color: black;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.bigcontainer2 h4 {
  color: white;
  font-family: 'Inter-Light';
  font-size: 250%;
  text-align: center;
  padding: 5%;
}

.bigcontainer2 p {
  color: white;
  text-align: center;
  margin-top: 5%;
  font-family: 'Inter-Light';
}

.box2 {
  background-color: black; /* Set the background color */
  border: 2px solid #2980b9; /* Add a border */
  border-radius: 10px; 
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2); /* Add a box shadow */
  text-align: center; /* Center text horizontally */
  line-height: 200px; /* Center text vertically */
  color: #fff; /* Set text color to white */
  font-size: 24px; /* Set font size */
}

.box {
    background-color: pink; /* Set the background color */
    border: 2px solid #2980b9; /* Add a border */
    border-radius: 10px; /* Add rounded corners */
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2); /* Add a box shadow */
    text-align: center; /* Center text horizontally */
    color: #fff; /* Set text color to white */
    font-size: 24px; /* Set font size */
}

.container2 {
  display: flex; /* Use flexbox for centering content */
  flex-direction: row; /* Stack content vertically */
  justify-content: center; /* Center content vertically */
  align-items: center; /* Center content horizontally */
  text-align: center; /* Center text within the box */
  color: #fff; /* Text color */
  font-size: 18px; /* Font size */
}

header {
  background-color: #333; /* Background color for the header */
  color: #fff; /* Text color for the header */
  padding: 10px 0; /* Add padding to the top and bottom */
  text-align: center;
}

.description-paragraph {
  width: 50%;  /* Or whatever width you prefer */
  text-align: justify;  /* Optional, for full justification */
  line-height: 1.5;  /* Optional, for better readability */
  overflow: auto;
}


.text-section {
  color: black;
}


.search-container {
  display: flex;
  justify-content: center; /* Horizontally center the contents */
  align-items: center; /* Vertically center the contents */
  margin-top: 20px; /* Adjust the space above the search bar */
}

/* Search input field */
.search-input {
  flex-grow: 1; 
  border-radius: 2em;
  border: 2px solid #fff;
  background-color: #011012;
  color: #fff;
  padding: 10px;
  margin-right: -50px;
}

/* Search button */
.search-button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  padding: 10px 20px; 
  right: -10px;
  
}

.search-icon {
  width: 15px; 
  height: 15px; 
}

.filter-buttons {
  display: flex;
  justify-content: center;
  gap: 20px; /* Adjust the space between buttons */
  margin-top: 20px; /* Adjust the space below the search bar */
}

.filter-button {
  border: 1px solid #05626E;
  background-color: #011012;
  color: white;
  padding: 10px 20px;
  border-radius: 20px;
  cursor: pointer;
  outline: none;
  transition: background-color 0.3s, color 0.3s;
  font-family: 'Inter-Light';
  font-size: 0.5rem;
}

.filter-button:hover {
  background-color: #00B4D8; /* Adjust hover color as needed */
}

.filter-button.industry {
  background-color: #0ADDF8;
  color: black;
  border: none;
  font-family: 'Inter-Light';
  font-size: 12px;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 5px;
}

.filter-button.industry img {
  height: 4px;
}

.filter-button.career-role {
  background-color: transparent;
  font-family: 'Inter-Light';
  font-size: 12px;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 5px;
}

.filter-button.career-role img {
  height: 8px;
}

.search-icon {
  width: 15px; /* Adjust the size as needed */
  height: 15px; /* Adjust the height as needed */
}

.review-invitation {
  font-family: 'Inter-Light';
  font-size: 17px;
}

.review-link {
  font-family: 'Inter-Light';
  font-size: 17px;
  text-decoration: underline;
}