body {
  overflow-y: auto;
}

.searchPage {
  display: flex;
  flex-direction: row;
}

.sideBar {
  height: 100%;
  display: flex;
  flex-direction: column;
  width: 280px;
  padding: 10px;
}

.searchBox {
  border: none;
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  padding-left: 10px;
  width: 95%
}
.searchBox img {
  height: 50%;
}

.results {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  column-gap: 3%;
  row-gap: 35px;
}

.dropdown {
  height: 6px;
}

.noResult {
  display: flex;
  align-items: space-between;
}

.noResult p {
  font-family: 'Roboto';
  font-weight: light;
  font-size: 18px;
}

.filterText {
  font-family: 'Inter-Bold';
  font-size: 20px;
}

.subHeading {
  font-family: 'Inter-Bold';
  font-size: 17px;
}

.checkFilter {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 7px;
  height: 35px;
}

.checkFilter p {
  font-family: 'Roboto';
  font-size: 14px;
}

.filterSearch {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 7px;
  border: 1px solid black;
  padding-left: 7px;
  height: 35px;
  border-radius: 10px;
}

.locDropDown {
  height: 35px;
  width: 100%;
  border-radius: 10px;
  padding-left: 7px;
}

.locDropDown option[value="Select"] {
  font-family: 'Roboto'
}