.headerContainer {
  /* width: calc(100vw -1000px); */
  height: 10vh;
  min-height: 80px;

  flex-direction: row;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 30px;
  padding-right: 30px;

  position: -webkit-sticky; /* Safari */
  position: sticky;
  top: 0;
}

.inlineContent {
  flex-direction: row;
  display: flex;
  align-items: center;
}

.internpedia {
  @media (max-width: 800px) {
    display: none;
  }
}

.headerLogo {
  width: auto;
  object-fit: contain;
}
